# Python data
build
dist
*.egg-info
__pycache__

# Test data
.tox
.coverage
.coverage.*
*.xml
.mypy_cache
htmlcov
htmlmypy

# Documentation data
docs

# literature data (debugging)
*.bib
*.yaml

# Other stuff
tags
.direnv
.envrc
*.afdesign
