default:
    image: python:latest
    before_script:
        - uname -a
        - python -V  # Print out python version for debugging
        - apt-get update
        - git config --global user.email "cobib@cobib.org"
        - git config --global user.name "CoBib"
        - pip install virtualenv

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  TERM: "linux"
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/reference/pip_install/#caching
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
cache:
    paths:
        - .cache/pip
        - venv/

stages:
    - build
    - test
    - deploy

build:
    stage: build
    script:
        - virtualenv venv
        - source venv/bin/activate
        - pip install tox

lint:
    stage: test
    script:
        - apt-get install -y python3-enchant
        - source venv/bin/activate
        - which python
        - pip install pyenchant
        - python <<< 'import enchant; print(enchant.list_dicts())'
        - tox -e lint
        - head -1 cobertura.xml | awk -F'line-rate*=*\"' '{sub(/".*/,"",$2); printf "mypy coverage %.0f", $2 * 100; print "%"}'
    coverage: '/mypy coverage \d+%/'
    artifacts:
        when: always
        expire_in: 30 days
        paths:
            - cobertura.xml
            - htmlmypy
        reports:
            cobertura: cobertura.xml

test:
    stage: test
    parallel:
        matrix:
            - PYTHON_VERSION: ['3.7', '3.8', '3.9', '3.10-rc']
    image: python:$PYTHON_VERSION
    script:
        - virtualenv venv
        - source venv/bin/activate
        - which python
        - pip install tox
        - tox -e py$PYTHON_VERSION
    artifacts:
        when: always
        expire_in: 30 days
        paths:
            - tests/report-py$PYTHON_VERSION.xml
        reports:
            junit: tests/report-py$PYTHON_VERSION.xml

coverage:
    stage: test
    script:
        # TODO: figure out why it is necessary to have a separate venv here
        - virtualenv venv-coverage
        - source venv-coverage/bin/activate
        - which python
        - pip install tox
        - tox -e coverage
    coverage: '/TOTAL\s+\d+\s+\d+\s+(\d+\s+\d+\s+)*(\d+%)/'
    artifacts:
        when: always
        expire_in: 30 days
        paths:
            - coverage.xml
            - htmlcov
        reports:
            cobertura: coverage.xml

develop:
    stage: deploy
    environment:
        name: dev
        url: "https://$CI_PROJECT_NAMESPACE.gitlab.io/-/$CI_PROJECT_NAME/-/jobs/$CI_JOB_ID/artifacts/public/index.html"
    script:
        - source venv/bin/activate
        - which python
        - tox -e docs
        - mv docs public
    artifacts:
        paths:
          - public
    variables:
        PUBLIC_URL: "/-/$CI_PROJECT_NAME/-/jobs/$CI_JOB_ID/artifacts/public"

pages:
    stage: deploy
    script:
        - source venv/bin/activate
        - which python
        - tox -e docs
        - mv docs public
    artifacts:
        paths:
            - public
    when: manual
    only:
        - master
