image: python:latest

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  TERM: "linux"
  EDITOR: "vim"
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/reference/pip_install/#caching
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
cache:
    paths:
        - .cache/pip
        - venv/

stages:
    - build
    - test
    - deploy

build:
    stage: build
    script:
        - uname -a
        - python -V  # Print out python version for debugging
        - pip install virtualenv
        - virtualenv venv
        - source venv/bin/activate
        - pip install -r requirements.txt
        - pip install pylint pydocstyle pyenchant pyte pytest

lint:
    stage: test
    script:
        - source venv/bin/activate
        - pylint -rn cobib test --disable=fixme,duplicate-code

doc:
    stage: test
    script:
        - source venv/bin/activate
        - pydocstyle --convention=google --match=".*\.py" cobib test

spell:
    stage: test
    script:
        - apt-get update
        - apt-get install -y python3-enchant
        - source venv/bin/activate
        - python <<< 'import enchant; print(enchant.list_dicts())'
        - pylint -rn cobib test --disable=all --enable=spelling
          --spelling-dict='en_US' --spelling-private-dict-file=.pylintdict

test:
    stage: test
    script:
        - apt-get update
        - apt-get install -y vim
        - git config --global user.email "cobib@cobib.org"
        - git config --global user.name "CoBib"
        - source venv/bin/activate
        - python -m pytest --verbose --junitxml=report.xml test
    artifacts:
        when: always
        paths:
            - report.xml
        reports:
            junit: report.xml

develop:
    stage: deploy
    environment:
        name: dev
        url: "https://$CI_PROJECT_NAMESPACE.gitlab.io/-/$CI_PROJECT_NAME/-/jobs/$CI_JOB_ID/artifacts/public/index.html"
    script:
        - source venv/bin/activate
        - pip install pdoc3
        - pdoc --html --force --output-dir public cobib
        - echo '<meta http-equiv="refresh" content="0; url=./cobib/index.html" />' > public/index.html
    artifacts:
        paths:
          - public
    variables:
        PUBLIC_URL: "/-/$CI_PROJECT_NAME/-/jobs/$CI_JOB_ID/artifacts/public"

pages:
    stage: deploy
    script:
        - source venv/bin/activate
        - pip install pdoc3
        - pdoc --html --force --output-dir public cobib
        - echo '<meta http-equiv="refresh" content="0; url=./cobib/index.html" />' > public/index.html
    artifacts:
        paths:
            - public
    when: manual
    only:
        - master
