pytest==7.4.3
pytest-asyncio==0.23.2
coverage<8
pytest-cov==4.1.0
black==23.11.0
isort==5.12.0
lxml==4.9.3
mypy==1.7.0
pydocstyle==6.3.0
pyenchant==3.2.2
pylint==3.0.2
pdoc==14.1.0
aiohttp==3.9.0rc0
msgpack==1.0.7
