/* ronn-ng css adapted from https://github.com/apjanke/ronn-ng */

/* STRUCTURE, INDENT, MARGINS */
body#manpage { margin:0 }
.mp {
  padding:0 9ex 1ex 4ex;
  text-align:justify;
  /* the following is modified from the original theme to use the full page width */
  max-width:100%;
}

/* the following are modified from the original to support light-dark styling */
.mp, body#manpage {
  background: var(--pdoc-background);
  color: var(--text);
}

.mp p,  .mp pre,
.mp ul, .mp ol, .mp dl              { margin:0 0 20px 0 }
.mp h2                              { margin:10px 0 0 0 }

.mp > p, .mp > pre, .mp > ul,
.mp > ol, .mp > dl                  { margin-left:8ex }
.mp h3                              { margin:0 0 0 4ex }

.mp dt                              { margin:0; clear:left }
.mp dt.flush                        { float:left; width:8ex }
.mp dd                              { margin:0 0 0 9ex }
.mp h1, .mp h2, .mp h3, .mp h4      { clear:left }

.mp pre                             { margin-bottom:20px }
.mp pre+h2, .mp pre+h3              { margin-top:22px }
.mp h2+pre, .mp h3+pre              { margin-top:5px }

.mp img                             { display:block;margin:auto }
.mp h1.man-title                    { display:none }

/* FONTS */
.mp, .mp code, .mp pre, .mp tt,
.mp kbd, .mp samp, .mp h3, .mp h4 {
    font-family:monospace;
    font-size:14px;
    line-height:1.42857142857143;
}
.mp h2 {
  font-size:16px;
  line-height:1.25;
}
.mp h1 {
  font-size:20px;
  line-height:2;
}

/* TEXT STYLES */
.mp, .mp code, .mp pre,
.mp pre code, .mp tt, .mp kbd,
.mp samp                            { color: light-dark(#131211, #aaa) }

.mp h1, .mp h2, .mp h3, .mp h4      { color: var(--text) }
.mp u                               { text-decoration:underline; color: light-dark(#232221, #ddd) }

.mp code, .mp strong, .mp b {
    font-weight:bold;
    color: var(--text);
}

.mp em, .mp var {
    font-style:italic;
    color: light-dark(#232221, #ddd);
    text-decoration:none;
}

/* LINKS */
.mp a, .mp a:link,
.mp a code, .mp a pre, .mp a tt,
.mp a kbd, .mp a samp              { color: var(--link) }

.mp a:hover { color: var(--link-hover) }

.mp b.man-ref                      { font-weight:normal;color: light-dark(#434241, #ddd) }

/* PREFORMATTED BLOCKS */
.mp pre                            { padding:0 4ex }
.mp pre code                       { font-weight:normal;color: light-dark(#434241, #ddd) }
.mp h2+pre, h3+pre                 { padding-left:0 }
