/* this is a light-dark combination of pygmentize's default and monokai themes */
pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }

.pdoc-code { background: light-dark(#f8f8f8, #272822); color: light-dark(#000000, #f8f8f2) }

.pdoc-code .bp  { color: light-dark(#008000, #F8F8F2) } /* Name.Builtin.Pseudo */
.pdoc-code .c   { color: light-dark(#3D7B7B, #959077); font-style: italic } /* Comment */
.pdoc-code .c1  { color: light-dark(#3D7B7B, #959077); font-style: italic } /* Comment.Single */
.pdoc-code .ch  { color: light-dark(#3D7B7B, #959077); font-style: italic } /* Comment.Hashbang */
.pdoc-code .cm  { color: light-dark(#3D7B7B, #959077); font-style: italic } /* Comment.Multiline */
.pdoc-code .cp  { color: light-dark(#9C6500, #959077) } /* Comment.Preproc */
.pdoc-code .cpf { color: light-dark(#3D7B7B, #959077); font-style: italic } /* Comment.PreprocFile */
.pdoc-code .cs  { color: light-dark(#3D7B7B, #959077); font-style: italic } /* Comment.Special */
.pdoc-code .dl  { color: light-dark(#BA2121, #E6DB74) } /* Literal.String.Delimiter */
.pdoc-code .err { border: 1px solid #F00 } /* Error */
.pdoc-code .esc { color: light-dark(#000000, #F8F8F2) } /* Escape */
.pdoc-code .fm  { color: light-dark(#00F,    #A6E22E) } /* Name.Function.Magic */
.pdoc-code .g   { color: light-dark(#000000, #F8F8F2) } /* Generic */
.pdoc-code .gd  { color: light-dark(#A00000, #FF4689) } /* Generic.Deleted */
.pdoc-code .ge  { color: light-dark(#000000, #F8F8F2); font-style: italic } /* Generic.Emph */
.pdoc-code .ges { color: light-dark(#000000, #F8F8F2); font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.pdoc-code .gh  { color: light-dark(#000080, #F8F8F2); font-weight: bold } /* Generic.Heading */
.pdoc-code .gi  { color: light-dark(#008400, #A6E22E) } /* Generic.Inserted */
.pdoc-code .go  { color: light-dark(#717171, #66D9EF) } /* Generic.Output */
.pdoc-code .gp  { color: light-dark(#000080, #FF4689); font-weight: bold } /* Generic.Prompt */
.pdoc-code .gr  { color: light-dark(#E40000, #F8F8F2) } /* Generic.Error */
.pdoc-code .gs  { color: light-dark(#000000, #F8F8F2); font-weight: bold } /* Generic.Strong */
.pdoc-code .gt  { color: light-dark(#04D,    #F8F8F2) } /* Generic.Traceback */
.pdoc-code .gu  { color: light-dark(#800080, #959077); font-weight: bold } /* Generic.Subheading */
.pdoc-code .hll { background-color: light-dark(#ffffcc, #49483e) }
.pdoc-code .il  { color: light-dark(#666   , #AE81FF)} /* Literal.Number.Integer.Long */
.pdoc-code .k   { color: light-dark(#008000, #66D9EF); font-weight: bold } /* Keyword */
.pdoc-code .kc  { color: light-dark(#008000, #66D9EF); font-weight: bold } /* Keyword.Constant */
.pdoc-code .kd  { color: light-dark(#008000, #66D9EF); font-weight: bold } /* Keyword.Declaration */
.pdoc-code .kn  { color: light-dark(#008000, #FF4689); font-weight: bold } /* Keyword.Namespace */
.pdoc-code .kp  { color: light-dark(#008000, #66D9EF) } /* Keyword.Pseudo */
.pdoc-code .kr  { color: light-dark(#008000, #66D9EF); font-weight: bold } /* Keyword.Reserved */
.pdoc-code .kt  { color: light-dark(#B00040, #66D9EF) } /* Keyword.Type */
.pdoc-code .l   { color: light-dark(#000,    #AE81FF) } /* Literal */
.pdoc-code .ld  { color: light-dark(#000,    #E6DB74) } /* Literal.Date */
.pdoc-code .m   { color: light-dark(#666,    #AE81FF) } /* Literal.Number */
.pdoc-code .mb  { color: light-dark(#666,    #AE81FF) } /* Literal.Number.Bin */
.pdoc-code .mf  { color: light-dark(#666,    #AE81FF) } /* Literal.Number.Float */
.pdoc-code .mh  { color: light-dark(#666,    #AE81FF) } /* Literal.Number.Hex */
.pdoc-code .mi  { color: light-dark(#666,    #AE81FF) } /* Literal.Number.Integer */
.pdoc-code .mo  { color: light-dark(#666,    #AE81FF) } /* Literal.Number.Oct */
.pdoc-code .n   { color: light-dark(#000,    #F8F8F2) } /* Name */
.pdoc-code .na  { color: light-dark(#687822, #A6E22E) } /* Name.Attribute */
.pdoc-code .nb  { color: light-dark(#008000, #F8F8F2) } /* Name.Builtin */
.pdoc-code .nc  { color: light-dark(#00F   , #A6E22E); font-weight: bold } /* Name.Class */
.pdoc-code .nd  { color: light-dark(#A2F   , #A6E22E) } /* Name.Decorator */
.pdoc-code .ne  { color: light-dark(#CB3F38, #A6E22E); font-weight: bold } /* Name.Exception */
.pdoc-code .nf  { color: light-dark(#00F   , #A6E22E) } /* Name.Function */
.pdoc-code .ni  { color: light-dark(#717171, #F8F8F2); font-weight: bold } /* Name.Entity */
.pdoc-code .nl  { color: light-dark(#767600, #F8F8F2) } /* Name.Label */
.pdoc-code .nn  { color: light-dark(#00F   , #F8F8F2); font-weight: bold } /* Name.Namespace */
.pdoc-code .no  { color: light-dark(#800   , #66D9EF) } /* Name.Constant */
.pdoc-code .nt  { color: light-dark(#008000, #FF4689); font-weight: bold } /* Name.Tag */
.pdoc-code .nv  { color: light-dark(#19177C, #F8F8F2) } /* Name.Variable */
.pdoc-code .nx  { color: light-dark(#000,    #A6E22E) } /* Name.Other */
.pdoc-code .o   { color: light-dark(#666,    #FF4689) } /* Operator */
.pdoc-code .ow  { color: light-dark(#A2F,    #FF4689); font-weight: bold } /* Operator.Word */
.pdoc-code .p   { color: light-dark(#000,    #F8F8F2) } /* Punctuation */
.pdoc-code .pm  { color: light-dark(#000,    #F8F8F2) } /* Punctuation.Marker */
.pdoc-code .py  { color: light-dark(#000,    #F8F8F2) } /* Name.Property */
.pdoc-code .s   { color: light-dark(#BA2121, #E6DB74) } /* Literal.String */
.pdoc-code .s1  { color: light-dark(#BA2121, #E6DB74) } /* Literal.String.Single */
.pdoc-code .s2  { color: light-dark(#BA2121, #E6DB74) } /* Literal.String.Double */
.pdoc-code .sa  { color: light-dark(#BA2121, #E6DB74) } /* Literal.String.Affix */
.pdoc-code .sb  { color: light-dark(#BA2121, #E6DB74) } /* Literal.String.Backtick */
.pdoc-code .sc  { color: light-dark(#BA2121, #E6DB74) } /* Literal.String.Char */
.pdoc-code .sd  { color: light-dark(#BA2121, #E6DB74); font-style: italic } /* Literal.String.Doc */
.pdoc-code .se  { color: light-dark(#AA5D1F, #AE81FF); font-weight: bold } /* Literal.String.Escape */
.pdoc-code .sh  { color: light-dark(#BA2121, #E6DB74) } /* Literal.String.Heredoc */
.pdoc-code .si  { color: light-dark(#A45A77, #E6DB74); font-weight: bold } /* Literal.String.Interpol */
.pdoc-code .sr  { color: light-dark(#A45A77, #E6DB74) } /* Literal.String.Regex */
.pdoc-code .ss  { color: light-dark(#19177C, #E6DB74) } /* Literal.String.Symbol */
.pdoc-code .sx  { color: light-dark(#008000, #E6DB74) } /* Literal.String.Other */
.pdoc-code .vc  { color: light-dark(#19177C, #F8F8F2) } /* Name.Variable.Class */
.pdoc-code .vg  { color: light-dark(#19177C, #F8F8F2) } /* Name.Variable.Global */
.pdoc-code .vi  { color: light-dark(#19177C, #F8F8F2) } /* Name.Variable.Instance */
.pdoc-code .vm  { color: light-dark(#19177C, #F8F8F2) } /* Name.Variable.Magic */
.pdoc-code .w   { color: light-dark(#BBB,    #F8F8F2) } /* Text.Whitespace */
.pdoc-code .x   { color: light-dark(#000,    #F8F8F2) } /* Other */
